<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="SharpSvn.1.7-x86" version="1.7022.3940.539" targetFramework="net452" />
  <package id="SharpSvn.1.9-x86" version="1.9007.3987.251" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net452" />
</packages>